
.container-fluid{
margin-top: 100px;
margin-bottom: 100px;
width :1000px;
height: 1100px;
/*border-radius: 2px;
border-width: 2px;
border-top: 2px;
border-right: 2px;
border-bottom: 20px;
border-color: black;*/

}

.header{
  margin-left: -15px;
  height: 100px;
  background-color: purple;
  color: black;
  text-align: center;
  width: 1000px;
}
.mybody{
  height:1000px;
  background:url(back.jpg);
  color:black;
  text-shadow: bold;
}
.game{
  padding-left: 20px;
  width: 500px;
  height: 1000px;
  text-align:100px left;
}
.about{
  text-align: center;
  margin-top: 20px;
  width: 300px;
  margin-left: 0;
  height: 800px;
  background-color:purple;
  margin-bottom: 0;
  color: black;
}

ul li{
    float: left;
    width: 20%;//helps to determine number of columns, for instance 33.3% displays 3 columns
}
ul{
    list-style-type: disc;
}
