
.container-fluid{
margin-top: 100px;
margin-bottom: 100px;
width :1000px;
height: 600px;
/*border-radius: 2px;
border-width: 2px;
border-top: 2px;
border-right: 2px;
border-bottom: 20px;
border-color: black;*/

}

.header{
  margin-left: -15px;
  height: 100px;
  background-color: yellow;
  color: black;
  text-align: center;
  width: 1000px;
}
.mybody{
  height:500px;
  background-color: green;
  color:white;
}
.game{
  padding-left: 20px;
  width: 500px;
  height: 500px;
  text-align:100px left;
}
.about{
  text-align: center;
  margin-top: 20px;
  width: 300px;
  margin-left: 0;
  height: 480px;
  background-color: gold;
  margin-bottom: 0;
  color: black;
}
.submit{


}
.user_input{

}
