.container{
width :100%;
height: 600px;
/*border-radius: 2px;
border-width: 2px;
border-top: 2px;
border-right: 2px;
border-bottom: 20px;
box-sizing: border-box;*/

}

.header{
  height: 100px;
  background-color: yellow;
  color: black;
  text-align: center;
}
.mybody{
  height:500px;
  background-color: purple;
}
.game{
  padding-left: 20px;
  width: 80%;
  height: 500px;
  text-align:100px left;
}
.about{
  text-align: center;
  margin-top: 20px;
  width: 20%;
  margin-left: 0;
  height: 480px;
  background-color: pink;
  margin-bottom: 0;
}
